<div ng-controller="headerCrtl" layout="row" layout-fill>
	<md-toolbar ng-init="validateUser()">
		<div class="md-toolbar-tools" >
			<h3><span>PaperFinance</span></h3>

			<div layout="row" layout-fill layout-align="end center">
				
				<h4 class="logged-user" ng-show="currentUser">{{logged}}</h4>

				<md-button class="md-button-colored" ng-click="showLogin($event)" ng-hide="currentUser">{{login}}</md-button>
				<md-button class="md-button-colored"ng-click="showSignin($event)" ng-hide="currentUser">{{signin}}</md-button>

				<md-button class="md-button-colored"ng-click="doSignout($event)" ng-show="currentUser">{{signout}}</md-button>
			</div>
		</div>
	</md-toolbar>
</div>